   @import url('font/font.css');
   /* Clearfix */
   
   .clearfix::after {
       content: "";
       clear: both;
       display: block;
   }
   /* Grid System */
   
   .col-1 {
       width: 120px;
   }
   
   .col-2 {
       width: 240px;
   }
   
   .col-3 {
       width: 360px;
   }
   
   .col-4 {
       width: 480px;
   }
   
   .col-5 {
       width: 600px;
   }
   
   .col-6 {
       width: 720px;
   }
   
   .col-7 {
       width: 840px;
   }
   
   .col-8 {
       width: 960px;
   }
   
   .col-9 {
       width: 1080px;
   }
   
   .col-10 {
       width: 1200px;
   }
   
   .container {
       position: relative;
   }
   
   .slide-box {
       position: relative;
       height: 300px;
       border: 1px solid limegreen;
       background: transparent;
       display: flex;
       margin: auto;
       /* overflow: hidden; */
   }
   
   .previous::before {
       font-family: 'fontello';
       content: '\e801';
       width: 5%;
       height: 5%;
       cursor: pointer;
       left: 1%;
       top: 45%;
       position: absolute;
       z-index: 5;
   }
   
   .next::before {
       font-family: 'fontello';
       content: '\e800';
       width: 5%;
       height: 5%;
       cursor: pointer;
       right: 0;
       top: 45%;
       position: absolute;
       z-index: 5;
   }
   
   .slide-box>div {
       position: absolute;
       height: 300px;
       border: 1px solid black;
   }
   
   .right {
       animation-duration: 1s;
       animation-name: left;
       margin-left: 0%;
   }
   
   @keyframes right {
       from {
           margin-left: 100%;
       }
       to {
           margin-left: 0%;
       }
   }
   
   .right {
       animation-duration: 1s;
       animation-name: right;
       margin-left: -100%;
   }
   
   @keyframes right {
       from {
           margin-left: 0%;
       }
       to {
           margin-left: -100%;
       }
   }
   
   .slide-1 {
       background: violet;
   }
   
   .slide-2 {
       background: limegreen;
       left: 100%;
   }
   
   .slide-3 {
       background: blueviolet;
       left: 200%;
   }