@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?68527619');
    src: url('../font/fontello.eot?68527619#iefix') format('embedded-opentype'), url('../font/fontello.woff2?68527619') format('woff2'), url('../font/fontello.woff?68527619') format('woff'), url('../font/fontello.ttf?68527619') format('truetype'), url('../font/fontello.svg?68527619#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}